<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="theme-color" content="#cc704b"/>
    <meta
      name="description"
      content="Catalogue Restaurant Apps.
      Cari makan enak disekitarmu.
      Jangan takut gendut.">

    <link rel="apple-touch-icon" href="./icon-192x192.png">
    <link rel="icon" href="./favicon.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bad+Script&family=Poppins:ital,wght@0,400;0,500;1,700&display=swap" rel="stylesheet">
    <link rel="preload" as="font" href="./font/fontawesome-webfont.woff2" type="font/woff2" crossorigin>
    
    <script async src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script async src="https://use.fontawesome.com/b070c8f1df.js"></script>
    <title>Doyan Makan Apps</title>
  </head>
  <body>
    <a href="#mainContent" class="skip-link" tabindex="0">Menuju ke konten</a>    
    <header-element></header-element>
    <main id="mainContent" tabindex="0"></main>
    <footer-element></footer-element>
  </body>
</html>
